.personal {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: auto;
  }
}

.personal__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

  @include list;
}

.personal__name::first-letter {
  color: $color-link-hover;
}

.personal__link {
  margin-left: 20px;

  color: $color-basic;

  @include link;

  &:hover,
  &:active {
    color: $color-link-hover;
  }

  &:focus {
    outline: 1px solid $color-accent;
  }
}
