.search {
  display: flex;
  justify-content: center;
  margin: auto 20px 0;
}

.search__form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 465px;
  height: 50px;
  padding-right: 17px;

  @media (min-width: $desktop-width) {
    width: 80%;
    max-width: 700px;
    height: 40px;
  }
}

.search__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;

  font-size: 19px;
  line-height: 45px;

  border: 3px solid $color-accent;

  &:focus {
    outline: none;
  }

  @media (min-width: $desktop-width) {
    border: 3px solid $color-accent-bright;
    border-right: none;
  }
}

.search__voice {
  width: 0;
  padding: 0;

  font-size: 0;

  border: none;

  @media (min-width: $desktop-width) {
    position: relative;

    width: 40px;

    background-color: white;
    border-top: 3px solid $color-accent-bright;
    border-bottom: 3px solid $color-accent-bright;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 40px;
      height: calc(40px - 6px);

      background-image: url("../img/voice.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 24px 24px;
      opacity: 0.17;

      transition-duration: 0.5s;
    }

    &:hover:after {
      opacity: 0.3;
    }

    &:active::after {
      opacity: 1;
    }
  }
}

.search__button {
  position: relative;

  width: 0;
  padding: 0;

  font-size: 0;
  line-height: 40px;
  font-family: $font-button;
  text-align: center;

  background-color: $color-accent;
  border: none;
  cursor: pointer;

  &:focus,
  &:active {
    width: 100px;

    font-size: 19px;

    outline: none;

    transition-duration: 0.2s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -12px;
    z-index: 1;

    display: block;

    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;

    display: inline-block;

    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 17px solid $color-accent;
  }

  @media (min-width: $desktop-width) {
    width: 100px;

    font-size: 19px;

    background-color: $color-accent-bright;
    border-right: 3px solid $color-accent-bright;

    &::before {
      display: none;
    }

    &::after {
        right: -18px;

        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid $color-accent-bright;
    }
  }
}

.search__input:focus ~ .search__button {
  width: 100px;

  font-size: 19px;

  transition-duration: 0.2s;
}

.search:focus-within .search__button::before {
  display: none;
}
