.to-do-start-page {
  display: none;

  color: $color-basic;

  @include link;

  @media (min-width: $desktop-width) {
    display: block;
  }

  &:hover,
  &:active {
    @media (min-width: $desktop-width) {
      color: $color-link-hover;

      outline: none;
    }
  }

  &:focus {
    @media (min-width: $desktop-width) {
      outline: 1px solid $color-accent;
    }
  }
}
