$font-basic: Arial, Helvetica, sans-serif;
$font-additional: "Helvetica Neue", Arial, sans-serif;
$font-button: Arial, sans-serif;
$color-basic: #000;
$color-link-hover: #cc0000;
$color-accent: #ffcc00;
$color-accent-soft: #ffeba0;
$color-accent-bright: #ffdb4d;
$desktop-width: 650px;
