html {
  height: 100%; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif; }

.page-header {
  display: flex;
  margin: 0 20px;
  overflow: hidden; }
  @media (min-width: 650px) {
    .page-header {
      margin: 15px 25px 0; } }

.to-do-start-page {
  display: none;
  color: #000;
  text-decoration: none;
  cursor: pointer; }
  @media (min-width: 650px) {
    .to-do-start-page {
      display: block; } }
  @media (min-width: 650px) {
    .to-do-start-page:hover, .to-do-start-page:active {
      color: #cc0000;
      outline: none; } }
  @media (min-width: 650px) {
    .to-do-start-page:focus {
      outline: 1px solid #ffcc00; } }

.category {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 650px) {
    .category {
      display: none; } }

.category__list {
  display: flex;
  margin-left: -10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.category__link {
  display: block;
  margin: 5px 0 5px 10px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }
  .category__link:focus {
    outline: 1px solid #ffcc00; }

.personal {
  display: none; }
  @media (min-width: 650px) {
    .personal {
      display: block;
      margin-left: auto; } }

.personal__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.personal__name::first-letter {
  color: #cc0000; }

.personal__link {
  margin-left: 20px;
  color: #000;
  text-decoration: none;
  cursor: pointer; }
  .personal__link:hover, .personal__link:active {
    color: #cc0000; }
  .personal__link:focus {
    outline: 1px solid #ffcc00; }

.page-main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column; }

.search {
  display: flex;
  justify-content: center;
  margin: auto 20px 0; }

.search__form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 465px;
  height: 50px;
  padding-right: 17px; }
  @media (min-width: 650px) {
    .search__form {
      width: 80%;
      max-width: 700px;
      height: 40px; } }

.search__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  font-size: 19px;
  line-height: 45px;
  border: 3px solid #ffcc00; }
  .search__input:focus {
    outline: none; }
  @media (min-width: 650px) {
    .search__input {
      border: 3px solid #ffdb4d;
      border-right: none; } }

.search__voice {
  width: 0;
  padding: 0;
  font-size: 0;
  border: none; }
  @media (min-width: 650px) {
    .search__voice {
      position: relative;
      width: 40px;
      background-color: white;
      border-top: 3px solid #ffdb4d;
      border-bottom: 3px solid #ffdb4d;
      outline: none; } }
  @media (min-width: 650px) {
    .search__voice::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 40px;
      height: calc(40px - 6px);
      background-image: url("../img/voice.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 24px 24px;
      opacity: 0.17;
      transition-duration: 0.5s; } }
  @media (min-width: 650px) {
    .search__voice:hover:after {
      opacity: 0.3; } }
  @media (min-width: 650px) {
    .search__voice:active::after {
      opacity: 1; } }

.search__button {
  position: relative;
  width: 0;
  padding: 0;
  font-size: 0;
  line-height: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffcc00;
  border: none;
  cursor: pointer; }
  .search__button:focus, .search__button:active {
    width: 100px;
    font-size: 19px;
    outline: none;
    transition-duration: 0.2s; }
  @media (min-width: 650px) {
    .search__button {
      width: 100px;
      font-size: 19px;
      background-color: #ffdb4d;
      border-right: 3px solid #ffdb4d; } }
  .search__button::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -12px;
    z-index: 1;
    display: block;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid white; }
    @media (min-width: 650px) {
      .search__button::before {
        display: none; } }
  .search__button::after {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    display: inline-block;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 17px solid #ffcc00; }
    @media (min-width: 650px) {
      .search__button::after {
        right: -18px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid #ffdb4d; } }

.search__input:focus ~ .search__button {
  width: 100px;
  font-size: 19px;
  transition-duration: 0.2s; }

.search:focus-within .search__button::before {
  display: none; }

.wrapper {
  position: relative;
  margin: 0 20px auto; }

.suggest {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 10px 13px 0 #e1e1e1; }
  @media (min-width: 650px) {
    .suggest {
      display: none;
      box-shadow: none; } }

.search:focus-within ~ .wrapper > .suggest {
  display: flex; }

.suggest__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(465px + 17px + 6px);
  margin-top: -10px;
  margin-left: -7px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  @media (min-width: 650px) {
    .suggest__list {
      display: block;
      box-sizing: border-box;
      width: 80%;
      max-width: 700px;
      margin-top: 0;
      margin-left: 0;
      padding-right: 100px; } }

.suggest__link {
  display: block;
  margin-top: 10px;
  margin-left: 7px;
  padding: 7px 7px;
  font-size: 14px;
  color: #000;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }
  @media (min-width: 650px) {
    .suggest__link {
      box-sizing: border-box;
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 17px;
      background-color: white; } }
  @media (min-width: 650px) {
    .suggest__link:hover {
      background-color: #ffeba0; } }

.page-footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  align-items: center; }

.page-footer__logo {
  display: block;
  width: 59px;
  height: 23px;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 0;
  background-image: url(../img/logo-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2; }
  @media (min-width: 650px) {
    .page-footer__logo {
      width: 60px;
      height: 27px;
      margin-top: 50px;
      margin-bottom: 10px;
      background-image: url(../img/logo.svg);
      opacity: 1; } }
  @media (min-width: 650px) {
    .page-footer__logo:hover {
      background-position: 0 -30px; } }

.personal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; }
  @media (min-width: 650px) {
    .personal-inner {
      display: none; } }

.personal-inner__mails {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.personal-inner__user {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #bfbfbf;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
